body{
    background-color: aliceblue;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    justify-content: center;
    gap: 10px;
    border: 1px solid black;
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 1rem;
}
.container-2{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.main-table{
    width: 700px;
    background-color: #fff;
}
.main-table th, .main-table td{
    border-bottom: 1px solid black;
    padding: 0.5rem 1rem;
    text-align: left;
}
button{
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 1rem;
    width: min-content;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.alert{
    color: red;
    font-weight: bold;
}
.hidden{
    display: none;
}
.bad-job, .good-job{
    font-weight: bold;
    background-color: #fff;
    width: 300px;
    height: 300px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 1rem;
}
.bad-job{
    color: red;
}
.good-job{
    color: green;
}
.nice{
    border: 1px solid green;
}
.bad{
    border: 1px solid red;
}